@using Data
@using Logic

@model List<ProducedPower>

@{ 
    double totalenergi = 0;
}

<h1>Effekt per kommun</h1><br />
@foreach (var elem in Model)
{
    totalenergi += elem.Energi;
}

<h2> Total Energi: @totalenergi </h2>
